[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "normfluodbf"]
	path = normfluodbf
	url = https://github.com/alphaprime7/normfluodbf
[submodule "tidyDenovix"]
	path = tidyDenovix
	url = https://github.com/alphaprime7/tidydenovix
